.banner {
  position: relative;
  top: 0px;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
}

.banner::before {
  content: "";
  position: absolute;
  background-image: url("../images/Vector.svg");
  width: 1050px;
  height: 1120px;
  top: -260px;
  transform: rotate(-5deg);
  margin-left: calc((100vw - 1050px) / 2);
  z-index: -1;
}

.banner__header {
  margin: 0 auto;
  margin-top: 15px;
  padding-right: 70px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 1px;
}

.banner__paragraph {
  width: 810px;
  padding-right: 70px;
  font-family: Helvetica;
  color: white;
  margin: 0 auto;
  margin-top: 24px;
  letter-spacing: 0.3px;
  font-style: normal;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
}

.banner__container {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  padding-right: 30px;
}
.banner__button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 67px;
  padding: 16px 0;
  color: white;
  width: 237px;
  text-align: center;
  margin-right: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-out;
  box-shadow: 0px 23px 30px -12px rgba(0, 0, 0, 0.2);
}
.banner__link {
  text-decoration: none;
}
.red {
  padding-top: 18px;
  background: linear-gradient(339.31deg, #b40100 0.23%, #fc2801 93.89%);
  border: none;
  box-shadow: 0px 23px 30px -12px rgba(180, 1, 0, 0.4);
  transition: all 0.3s ease-out;
}
.banner__button:hover {
  cursor: pointer;
  box-shadow: 0px 23px 30px -12px rgba(0, 0, 0, 0.4);
}
.red:hover {
  cursor: pointer;
  box-shadow: 0px 23px 30px -12px rgba(180, 1, 0, 0.8);
}
.banner__picture {
  width: 1099px;
  margin: 0 auto;
  margin-top: 37px;
  padding-right: 50px;
  overflow-x: hidden;
}

@media (max-width: 1240px) {
  .banner::before {
    background-image: url("../images/Vector_smaller.svg");
    margin-left: calc((100vw - 730px) / 2);
    width: 730px;
    height: 790px;
    top: -60px;
  }
  .banner__header {
    padding-right: 40px;
    font-size: 52px;
    margin-top: 120px;
  }
  .banner__paragraph {
    width: 600px;
    padding-right: 40px;
    margin-top: 24px;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 25px;
  }
  .banner__button {
    border-radius: 67px;
    padding: 14px 0;
    width: 180px;
    margin-right: 24px;
    font-size: 14px;
  }
  .red {
    padding-top: 16px;
  }
  .banner__picture {
    width: 800px;
    margin-top: 37px;
    padding-right: 60px;
  }
  .banner__container {
    margin-top: 25px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .banner::before {
    content: "";
    position: absolute;
    background-image: url("../images/Vector.svg");
    width: 1050px;
    height: 920px;
    top: -130px;
    transform: rotate(-5deg);
    margin-left: calc((100vw - 1050px) / 2);
    z-index: -1;
  }
  .banner__header {
    font-size: 42px;
    margin-top: 110px;
    width: 90%;
    padding: 0;
  }
  .banner__paragraph {
    padding: 0;
    width: 90%;
  }
  .banner__button {
    width: 60vw;
    margin-right: 0;
    margin-top: 20px;
    font-size: 14px;
  }
  .banner__picture {
    width: 800px;
    margin-top: 37px;
    padding-right: 60px;
  }
  .banner__container {
    width: 90%;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}
