.footer {
  font-family: Montserrat, sans-serif;
  background-color: white;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
.footer-fixed {
  position: fixed;
  width: 100vw;
  bottom: 0;
}
.separator {
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, white 0%, #026df9 50%, white 100%);
}

@media (max-width: 767px) {
  .footer {
    font-size: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
  }
  .separator {
    margin-bottom: 10px;
  }
}
