*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica/HelveticaNeueLTPro-Md.otf");
}
