.mobileMenu {
  z-index: 1;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 230px;
  width: 20vw;
  height: 100vh;
  background-color: white;
  box-shadow: -5px -5px 20px rgba(77, 77, 77, 0.8);
  border-radius: 40px 0 0 0;
}
.mobileMenu--open {
  display: unset;
}
.mobileMenu__list {
  padding-top: 15vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.mobileMenu__item {
  text-align: center;
  padding-bottom: 10px;
  transition: transform 0.2s ease-in;
}

.mobileMenu__link {
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.mobileMenu__item:hover {
  transform: scale(1.08);
  padding-bottom: 4px;
  border-bottom: 6px solid #049ded;
}

.menuOpen {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.mobileSelected {
  padding-bottom: 4px;
  border-bottom: 6px solid #049ded;
  font-weight: bold;
}
