.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__logo {
  width: 100px;
  margin: 24px 32px;
  cursor: pointer;
}

.navigation__burger {
  margin: 24px 32px;
  cursor: pointer;
}
.burger--open {
}

.burger--open:hover .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.burger--open:hover .line2 {
  display: none;
}
.burger--open:hover .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
.line1 {
  margin: 11px 7px;
  width: 30px;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 2px;
  transition: all 0.35s ease-out;
}

.line2 {
  margin: 11px 7px;
  width: 30px;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 2px;
}

.line3 {
  margin: 11px 7px;
  width: 30px;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 2px;
  transition: all 0.35s ease-out;
}
@media (max-width: 730px) {
  .navigation__logo {
    width: 80px;
    margin: 24px 32px;
    cursor: pointer;
  }
}
