.contact {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-right: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}
.contact__img {
  width:42px;
  margin: 32px;
}
.contact__input {
  font-family: Helvetica, sans-serif;
  padding: 12px;
  letter-spacing: 1px;
  width: 500px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #6e6e6e;
}
.contact__message {
  resize: vertical;
  height: unset;
}
.contact__button {
  font-family: Helvetica, sans-serif;
  border: none;
  padding: 13px 60px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: white;
  margin: 40px auto;
  background: linear-gradient(336.15deg, #011689  -0.08%, #0033A0  112.76%);
  border-radius: 72px;
  transition: all 0.3s ease-in;
}
.contact__button:hover {
  cursor: pointer;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1450px) {
  .contact {
    margin-left: 150px;
  }
}

@media (max-width: 1240px) {
  .contact {
    position: relative;
    width: 90%;
    margin: 20px 0;
  }
  .contact__input {
    width: 100%;
  }
  .contact__button {
    padding: 13px 40px;
  }
}
@media (max-width: 1000px) {
  .contact {
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  .contact {
    padding: 10px;
    width: 100%;
  }
  .contact__input {
    font-size: 12px;
    padding: 6px;
    margin-bottom: 10px;
  }
  .contact__button {
    margin: 30px auto;
  }
}
