.wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}
.content::before {
  content: "";
  position: absolute;
  background-image: url("../images/vector_1-1700.svg");
  width: 1500px;
  height: 990px;
  top: 0;
  left: 0;
  z-index: -1;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80vw;
  margin: 0 auto;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0;
  margin: 0;
}
.content__header {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.content__subheader {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}

.content__paragraph {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
}
.content__vector {
  width: 400px;
  height: 380px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -20px;
}

@media (max-width: 1240px) {
  .content__header {
    font-size: 52px;
    line-height: 64px;
  }
  .content__paragraph {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 1px;
  }
}
@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .content__button {
    font-size: 22px;
    padding: 10px 12px;
  }
  .content::before {
    top: -55px;
  }
  + .content__header {
    margin-top: 50px;
    font-size: 34px;
    line-height: 48px;
    letter-spacing: 1px;
  }
  .content__subheader {
    font-size: 28px;
    line-height: 28px;
  }
  .content__paragraph {
    color: white;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0px;
  }
  .content__vector {
    margin-left: -80px;
  }
}
