.contact {
  position: absolute;
  margin-top: 60px;
  margin-left: 650px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}
.contact__img {
  margin: 32px;
}
.contact__input {
  font-family: Helvetica, sans-serif;
  padding: 12px;
  letter-spacing: 1px;
  width: 500px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #6e6e6e;
}
.contact__input::placeholder {
}
.contact__message {
  resize: vertical;
  height: unset;
}
.contact__button {
  font-family: Helvetica, sans-serif;
  border: none;
  padding: 13px 60px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: white;
  margin: 47px;
  background: linear-gradient(336.15deg, #0053c0 -0.08%, #04b2e7 112.76%);
  border-radius: 72px;
}
.contact__button:hover {
  cursor: pointer;
}
@media (max-width: 1450px) {
  .contact {
    margin-left: 490px;
  }
} ;
