body {
  overflow-y: unset;
  overflow-x: hidden;
}
.content::before {
  content: "";
  position: absolute;
  background-image: url("../images/vector_1-1700.svg");
  width: 1500px;
  height: 1350px;
  top: 0;
  z-index: -1;
}
.content {
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
}
.content__header {
  width: 850px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.content__group {
  display: flex;
  margin-bottom: 80px;
}

.content__paragraph {
  width: 540px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
}
.content__vector {
  width: 603px;
  height: 384px;
  margin-top: -30px;
  margin-left: 60px;
}

.content__tile {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  width: 1130px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}
.content__tile-paragraph {
  margin: 44px 44px 0 44px;
  padding-top: 40px;
  font-size: 24px;
  line-height: 29px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #2870cf;
}
.content__button {
  padding: 14px 37px;
  background: linear-gradient(298.16deg, #b40100 0.23%, #fc2801 93.89%);
  border-radius: 72px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  border: none;
  color: white;
  margin: 40px auto;
  box-shadow: 0px 23px 30px -12px rgba(180, 1, 0, 0.5);
  transition: all 0.3s ease-in;
}
.content__button:hover {
  box-shadow: 0px 23px 30px -12px rgba(180, 1, 0, 0.8);
  cursor: pointer;
}

@media (max-width: 1450px) {
  .content::before {
    content: "";
    position: absolute;
    background-image: url("../images/vector_1.svg");
    width: 1350px;
    height: 1330px;
  }
  .content__wrapper {
    margin-left: 150px;
  }
  .content__vector {
    margin-left: 30px;
  }
} ;
