body {
  overflow-y: unset;
}
.content::before {
  content: "";
  position: absolute;
  background-image: url("../images/vector1.png");
  width: 1300px;
  height: 1350px;
  top: 0;
  z-index: -1;
}
.content {
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 850px;
  margin-left: 155px;
}
.content__header {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 24px;
}
.content__group {
  display: flex;
  margin-bottom: 80px;
}

.content__paragraph {
  width: 660px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
}
.content__vector {
  width: 603px;
  height: 584px;
}
.content__tile-wrapper {
  display: flex;
  margin: 0 auto;
}
.content__tile {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 0 40px;
  width: 360px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}
.content__tile-paragraph {
  margin: 44px 44px 0 44px;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(51, 126, 224);
}

.content__tile-img {
  margin: -20px 0 -20px;
}
