body {
  overflow-y: unset;
  overflow-x: hidden;
}
.content::before {
  content: "";
  position: absolute;
  background-image: url("../images/Vector_1-1700.svg");
  width: 1400px;
  height: 1520px;
  top: 0;
  z-index: -1;
}
.content {
}
.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 200px;
}
.content__header {
  width: 850px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 34px;
}
.content__group {
  display: flex;
  margin-bottom: 80px;
}

.content__paragraph {
  width: 660px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1px;
}
.content__vector {
  width: 603px;
  height: 584px;
  margin-left: 60px;
}
.content__tile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__tile {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 0 40px;
  width: 360px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease-in;
}
.content__tile:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.content__tile-paragraph {
  margin: 44px 44px 0 44px;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(51, 126, 224);
}

.content__tile-img {
  margin: -20px 0 -20px;
}

@media (max-width: 1450px) {
  .content::before {
    content: "";
    position: absolute;
    background-image: url("../images/Vector_1.svg");
    width: 1350px;
    height: 1300px;
  }
  .content__wrapper {
    margin-left: 150px;
  }
  .content__vector {
    margin-left: 0px;
  }
} ;
